{% extends 'layout.html' %}

{% block title %}
    <title>Página de confirmação</title>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="jumbotron" method="post">
            {% csrf_token %}
            <h2>Você tem certeza que deseja continuar com a deleção <span class="text-danger">{{obj.title}}</span>? </h2>
            <input type="submit" value="Sim" class="btn btn-danger">
            <button class="btn btn-success"><a href="{% url 'index_view' %}">Não</a></button>
        </form>
    </div>
{% endblock %}